<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mx.farmaluxa.warehouse">

    <application
        android:theme="@style/Theme.Farmaluxa">
        <activity
            android:name=".ui.view.WarehouseActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
    </application>

</manifest>